.main-blog {
  padding: 30px 0;
  padding-top: 0 !important;
}

@media (max-width: 767px) {
  .main-blog {
    padding: 15px 0;
  }
}

.main-blog .main-blog-breadcrumb {
  padding: 100px 0;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@media (max-width: 1200px) {
  .main-blog .main-blog-breadcrumb {
    padding: 90px 0;
    margin-bottom: 28px;
  }
}

@media (max-width: 1024px) {
  .main-blog .main-blog-breadcrumb {
    padding: 80px 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 991px) {
  .main-blog .main-blog-breadcrumb {
    padding: 70px 0;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .main-blog .main-blog-breadcrumb {
    padding: 60px 0;
    margin-bottom: 22px;
  }
}

@media (max-width: 480px) {
  .main-blog .main-blog-breadcrumb {
    padding: 50px 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 360px) {
  .main-blog .main-blog-breadcrumb {
    padding: 40px 0;
    margin-bottom: 15px;
  }
}

.main-blog .main-blog-breadcrumb .section-title-all {
  width: 50%;
}

@media (max-width: 991px) {
  .main-blog .main-blog-breadcrumb .section-title-all {
    width: 100%;
  }
}

.main-blog .main-blog-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-blog .main-blog-wrap .main-blog-left {
  width: 70%;
}

@media (max-width: 991px) {
  .main-blog .main-blog-wrap .main-blog-left {
    width: 100%;
  }
}

.main-blog .main-blog-wrap .main-blog-left .main-blog-left-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-left .main-blog-left-data {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (min-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-left .main-blog-left-data {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.main-blog .main-blog-wrap .main-blog-left .main-blog-left-data .article-item {
  width: 50%;
}

@media (max-width: 991px) {
  .main-blog .main-blog-wrap .main-blog-left .main-blog-left-data .article-item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .main-blog .main-blog-wrap .main-blog-left .main-blog-left-data .article-item {
    width: 50%;
  }
}

.main-blog .main-blog-wrap .main-blog-left .shop-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-left .shop-pagination {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (min-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-left .shop-pagination {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 991px) {
  .main-blog .main-blog-wrap .main-blog-left .shop-pagination {
    width: 100%;
  }
}

.main-blog .main-blog-wrap .main-blog-right {
  width: 30%;
  padding-left: 30px;
  position: sticky;
  top: 0;
  height: min-content;
}

@media (max-width: 991px) {
  .main-blog .main-blog-wrap .main-blog-right {
    width: 100%;
    padding-left: 0;
    margin-top: 30px;
    position: relative;
    top: initial;
    height: initial;
  }
}

@media (max-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media (min-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest {
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media (max-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest .section-title-all {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 767px) {
  .main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest .section-title-all {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest .article-item {
  position: relative;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest .article-item:before {
  content: attr(data-index);
  position: absolute;
  top: 15px;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--color2);
  background: var(--color_main);
  border: 5px solid var(--color_bg);
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-newest .article-item .article-item-wrap {
  padding: 15px 15px 15px 30px;
}

.main-blog
  .main-blog-wrap
  .main-blog-right
  .main-blog-right-newest
  .article-item
  .article-item-wrap
  .article-item-detail {
  padding-left: 15px;
}

.main-blog
  .main-blog-wrap
  .main-blog-right
  .main-blog-right-newest
  .article-item
  .article-item-wrap
  .article-item-detail
  .article-item-detail-info {
  display: none;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu {
  margin-bottom: 20px;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data {
  background: var(--color_bg_item);
  border-radius: var(--border_radius);
  transition: all 0.5s;
  cursor: pointer;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data li:not(:last-child) a {
  border-bottom: 1px solid var(--color_bg);
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 7.5px 15px;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data li a.active span {
  transform: rotate(90deg);
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data li a span {
  transition: all 0.5s;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data .menu1 {
  display: none;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data .menu1 li a {
  padding-left: 45px;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data .menu1 .menu2 {
  display: none;
}

.main-blog .main-blog-wrap .main-blog-right .main-blog-right-menu .main-blog-right-menu-data .menu1 .menu2 li a {
  padding-left: 75px;
}
